# Battle of Neighborhoods

## Finding the most suitable housing in London, based on the housing prices and school rating

#### Problem description: 

London has always been attracting immigrants of various professions, backgrounds, and life plans. Being one of the most diverse cities it attracts people from all over the world. 

To move somewhere is never an easy decision. The purpose of this project is to explore neighborhoods of London and see which neighborhoods are particularly attractive for certain immigrants.

Lets hypothetically take a family of three, who needs an average space but is very strict about picking the best possible school for their 6-year-old. As they are coming from Asia, they are interested in Asian restaurants located in their neighborhood. And, of course, they have a certain budget. 

#### Data description:

We are going to review several datasets:
Housing prices by neighborhood, refined dataset, raw dataset source https://data.london.gov.uk/dataset/average-private-rents-borough
School rating by neighborhood (reviewing csv file) 
Asian restaurants proximity (using the Foursquare API)

#### Libraries:

For this project, a number of libraries shall be used like matplotlib, geopy, pandas

In [1]:
# The code was removed by Watson Studio for sharing.

,Code,New code,Area name,Inner/ Outer London,GLA Population Estimate 2017,GLA Household Estimate 2017,Inland Area (Hectares),Population density (per hectare) 2017,"Average Age, 2017","Proportion of population aged 0-15, 2015",...,Happiness score 2011-14 (out of 10),Anxiety score 2011-14 (out of 10),Childhood Obesity Prevalance (%) 2015/16,People aged 17+ with diabetes (%),Mortality rate from causes considered preventable 2012/14,Political control in council,Proportion of seats won by Conservatives in 2014 election,Proportion of seats won by Labour in 2014 election,Proportion of seats won by Lib Dems in 2014 election,Turnout at 2014 local elections
0,E09000001,E09000001,City of London,Inner London,8800,5325.82,290.393,30.3037,43.2,11.4,...,5.99,5.57,NaN,2.637945,128.833,.,.,.,.,.
1,E09000002,E09000002,Barking and Dagenham,Outer London,209000,78188.4,3610.78,57.8822,32.9,27.2,...,7.05,3.05,28.542,7.272108,227.605,Lab,0,100,0,36.4974
2,E09000003,E09000003,Barnet,Outer London,389600,151423,8674.83,44.9115,37.3,21.1,...,7.37,2.75,20.6579,6.026084,133.77,Cons,50.7937,.,1.5873,40.481
3,E09000004,E09000004,Bexley,Outer London,244300,97735.8,6058.07,40.3264,39.0,20.6,...,7.21,3.29,22.7093,6.859383,164.286,Cons,71.4286,23.8095,0,39.6308
4,E09000005,E09000005,Brent,Outer London,332100,121048,4323.26,76.817,35.6,20.9,...,7.22,2.92,24.3444,7.920348,169.356,Lab,9.52381,88.8889,1.5873,36.272

In [2]:
print(df_london.shape)

(39, 85)

In [3]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
city ="London"
country ="Uk"
loc = geolocator.geocode(city+','+ country)
print("latitude is :-" ,loc.latitude,"\nlongtitude is:-" ,loc.longitude)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

latitude is :- 51.5073219
longtitude is:- -0.1276474

In [4]:
!pip install folium

Collecting folium
  Downloading https://files.pythonhosted.org/packages/fd/a0/ccb3094026649cda4acd55bf2c3822bb8c277eb11446d13d384e5be35257/folium-0.10.1-py2.py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 9.5MB/s eta 0:00:011
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/81/6d/31c83485189a2521a75b4130f1fee5364f772a0375f81afff619004e5237/branca-0.4.0-py3-none-any.whl
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Installing collected packages: branca, folium
Successfully installed branca-0.4.0 folium-0.10.1

In [5]:
import folium
london = folium.Map(location=[51.5073219, -0.1276474])
london

In [6]:
folium.Map(
    location=[51.5073219, -0.1276474],
    tiles='Stamen Toner',
    zoom_start=11
)

## Problem 1: Housing prices by neighborhood

##### The family has decided to chose the following Wards in London: City of London, Barking and Dagenham Barnet Bexley Brent Bromley Camden Croydon Ealing Enfield Greenwich Hackney Hammersmith and Fulham Haringey Harrow Havering Hillingdon Hounslow Islington Kensington and Chelsea Kingston upon Thames Lambeth Lewisham Merton Newham Redbridge Richmond upon Thames Southwark Sutton Tower Hamlets Waltham Forest Wandsworth Westminster

##### Let's create a dataframe with:
###### - specific areas listed above
###### - keep only Two Bedroom option

In [8]:
body = client_a45dc0d5df144c1b8084138592292515.get_object(Bucket='capstone-donotdelete-pr-zr9fcd12hojrew',Key='rent.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# If you are reading an Excel file into a pandas DataFrame, replace `read_csv` by `read_excel` in the next statement.
df_rent = pd.read_csv(body)
df_rent.head()

,Year,Quarter,Code,Area,Category,Count of rents,Average,Lower quartile,Median,Upper quartile
0,2019,Q1,E09000001,City of London,Room,0,.,.,.,.
1,2019,Q1,E09000002,Barking and Dagenham,Room,10,650,600,650,700
2,2019,Q1,E09000003,Barnet,Room,50,602,550,588,650
3,2019,Q1,E09000004,Bexley,Room,40,577,550,585,672
4,2019,Q1,E09000005,Brent,Room,90,638,500,602,700

In [10]:
import seaborn as sns
sns.distplot(new_df['Average'],bins=15)

NameError: name 'new_df' is not defined

In [11]:
new_df = df_rent[df_rent['Category'] == 'Two Bedroom']
new_df.head()

,Year,Quarter,Code,Area,Category,Count of rents,Average,Lower quartile,Median,Upper quartile
132,2019,Q1,E09000001,City of London,Two Bedroom,30,2852,2383,2578,2925
133,2019,Q1,E09000002,Barking and Dagenham,Two Bedroom,320,1185,1100,1200,1300
134,2019,Q1,E09000003,Barnet,Two Bedroom,1190,1439,1295,1400,1500
135,2019,Q1,E09000004,Bexley,Two Bedroom,310,1076,995,1050,1200
136,2019,Q1,E09000005,Brent,Two Bedroom,710,1514,1350,1499,1630

In [12]:
new_df.loc[new_df['Code'].isin(['E09000001','E09000002','E09000003','E09000004','E09000005','E09000006','E09000007','E09000008','E0900009','E090000010','E09000011','E09000012','E09000013','E09000014','E09000015','E09000016','E09000017','E09000018','E09000019','E09000020','E09000021','E09000022','E09000023','E09000024','E09000025','E09000026','E09000027','E09000028','E09000029','E09000030','E09000031','E09000032','E09000033'])]

,Year,Quarter,Code,Area,Category,Count of rents,Average,Lower quartile,Median,Upper quartile
132,2019,Q1,E09000001,City of London,Two Bedroom,30,2852,2383,2578,2925
133,2019,Q1,E09000002,Barking and Dagenham,Two Bedroom,320,1185,1100,1200,1300
134,2019,Q1,E09000003,Barnet,Two Bedroom,1190,1439,1295,1400,1500
135,2019,Q1,E09000004,Bexley,Two Bedroom,310,1076,995,1050,1200
136,2019,Q1,E09000005,Brent,Two Bedroom,710,1514,1350,1499,1630
137,2019,Q1,E09000006,Bromley,Two Bedroom,950,1237,1100,1250,1350
138,2019,Q1,E09000007,Camden,Two Bedroom,1550,2243,1842,2123,2492
139,2019,Q1,E09000008,Croydon,Two Bedroom,690,1195,1100,1200,1275
142,2019,Q1,E09000011,Greenwich,Two Bedroom,500,1415,1200,1350,1625
143,2019,Q1,E09000012,Hackney,Two Bedroom,520,1883,1549,1777,2100
144,2019,Q1,E09000013,Hammersmith and Fulham,Two Bedroom,760,1940,1603,1798,2100
145,2019,Q1,E09000014,Haringey,Two Bedroom,610,1609,1400,1525,1712
146,2019,Q1,E09000015,Harrow,Two Bedroom,670,1320,1225,1300,1400
147,2019,Q1,E09000016,Havering,Two Bedroom,330,1102,1000,1100,1200
148,2019,Q1,E09000017,Hillingdon,Two Bedroom,580,1277,1195,1250,1350
149,2019,Q1,E09000018,Hounslow,Two Bedroom,660,1421,1200,1338,1600
150,2019,Q1,E09000019,Islington,Two Bedroom,960,2024,1650,1950,2297
151,2019,Q1,E09000020,Kensington and Chelsea,Two Bedroom,790,3209,2383,2925,3683
152,2019,Q1,E09000021,Kingston upon Thames,Two Bedroom,230,1384,1250,1350,1452
153,2019,Q1,E09000022,Lambeth,Two Bedroom,770,1711,1450,1650,1800
154,2019,Q1,E09000023,Lewisham,Two Bedroom,770,1365,1200,1325,1500
155,2019,Q1,E09000024,Merton,Two Bedroom,570,1495,1300,1450,1600
156,2019,Q1,E09000025,Newham,Two Bedroom,770,1464,1300,1439,1600
157,2019,Q1,E09000026,Redbridge,Two Bedroom,650,1273,1160,1270,1350
158,2019,Q1,E09000027,Richmond upon Thames,Two Bedroom,790,1650,1396,1575,1800
159,2019,Q1,E09000028,Southwark,Two Bedroom,1170,1741,1420,1600,1907
160,2019,Q1,E09000029,Sutton,Two Bedroom,430,1166,1100,1150,1225
161,2019,Q1,E09000030,Tower Hamlets,Two Bedroom,1090,1853,1562,1733,1950
162,2019,Q1,E09000031,Waltham Forest,Two Bedroom,620,1336,1230,1300,1400
163,2019,Q1,E09000032,Wandsworth,Two Bedroom,1700,1760,1500,1700,1930
164,2019,Q1,E09000033,Westminster,Two Bedroom,1210,2845,2058,2546,3250

In [13]:
new_df.shape

(44, 10)

## Problem 2: Schools

##### The family has decided to chose the following Wards in London: City of London, Barking and Dagenham Barnet Bexley Brent Bromley Camden Croydon Ealing Enfield Greenwich Hackney Hammersmith and Fulham Haringey Harrow Havering Hillingdon Hounslow Islington Kensington and Chelsea Kingston upon Thames Lambeth Lewisham Merton Newham Redbridge Richmond upon Thames Southwark Sutton Tower Hamlets Waltham Forest Wandsworth Westminster

##### Let's create a dataframe with:
###### - schools from these areas
###### - school ratings

In [15]:
body = client_a45dc0d5df144c1b8084138592292515.get_object(Bucket='capstone-donotdelete-pr-zr9fcd12hojrew',Key='schools.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# If you are reading an Excel file into a pandas DataFrame, replace `read_csv` by `read_excel` in the next statement.

schools = pd.read_csv(body)
schools.head()

        Code                  Area     Year  Sex Pupils Attainment8 Progress8
0  E09000001        City of London  2017/18  All      .           .         .
1  E09000002  Barking and Dagenham  2017/18  All   2199        46.1      0.17
2  E09000003                Barnet  2017/18  All   3810          56      0.57
3  E09000004                Bexley  2017/18  All   3032        49.6      -0.1
4  E09000005                 Brent  2017/18  All   2858        49.9      0.54

In [16]:
schools.loc[(schools['Year'] == '2017/18') & (schools['Sex'] == 'All')]

,Code,Area,Year,Sex,Pupils,Attainment8,Progress8
0,E09000001,City of London,2017/18,All,.,.,.
1,E09000002,Barking and Dagenham,2017/18,All,2199,46.1,0.17
2,E09000003,Barnet,2017/18,All,3810,56,0.57
3,E09000004,Bexley,2017/18,All,3032,49.6,-0.1
4,E09000005,Brent,2017/18,All,2858,49.9,0.54
5,E09000006,Bromley,2017/18,All,3214,50.3,0.03
6,E09000007,Camden,2017/18,All,1533,48,0.07
7,E09000008,Croydon,2017/18,All,3452,45.8,0.07
8,E09000009,Ealing,2017/18,All,2853,50,0.53
9,E09000010,Enfield,2017/18,All,3414,46.3,0.08
10,E09000011,Greenwich,2017/18,All,2269,44.5,-0.18
11,E09000012,Hackney,2017/18,All,2058,49,0.31
12,E09000013,Hammersmith and Fulham,2017/18,All,1291,52.9,0.34
13,E09000014,Haringey,2017/18,All,2190,46.3,0.16
14,E09000015,Harrow,2017/18,All,2044,50.7,0.45
15,E09000016,Havering,2017/18,All,2774,46.9,-0.09
16,E09000017,Hillingdon,2017/18,All,3064,47.8,0.15
17,E09000018,Hounslow,2017/18,All,2666,49.4,0.43
18,E09000019,Islington,2017/18,All,1404,46.3,0.15
19,E09000020,Kensington and Chelsea,2017/18,All,718,51.6,0.11
20,E09000021,Kingston upon Thames,2017/18,All,1515,57.8,0.53
21,E09000022,Lambeth,2017/18,All,2114,44.6,-0.05
22,E09000023,Lewisham,2017/18,All,2104,44.9,-0.22
23,E09000024,Merton,2017/18,All,1404,49.7,0.44
24,E09000025,Newham,2017/18,All,3745,48.7,0.32
25,E09000026,Redbridge,2017/18,All,3508,53.1,0.47
26,E09000027,Richmond upon Thames,2017/18,All,1479,51.7,0.14
27,E09000028,Southwark,2017/18,All,2386,50.2,0.3
28,E09000029,Sutton,2017/18,All,2719,58.1,0.39
29,E09000030,Tower Hamlets,2017/18,All,2721,46.8,0.15
30,E09000031,Waltham Forest,2017/18,All,2484,46.1,0.21
31,E09000032,Wandsworth,2017/18,All,1707,50.8,0.3
32,E09000033,Westminster,2017/18,All,1495,52.9,0.47
33,E13000001,Inner London,2017/18,All,25466,48.3,0.19
34,E13000002,Outer London,2017/18,All,50758,49.9,0.24
35,E12000001,North East,2017/18,All,24838,44.9,-0.23
36,E12000002,North West,2017/18,All,71555,45.7,-0.16
37,E12000003,Yorkshire and the Humber,2017/18,All,53178,45.1,-0.02
38,E12000004,East Midlands,2017/18,All,45234,45.5,-0.09
39,E12000005,West Midlands,2017/18,All,58845,45.2,-0.08
40,E12000006,East,2017/18,All,59100,47,0.03
41,E12000007,London,2017/18,All,76224,49.4,0.23
42,E12000008,South East,2017/18,All,82803,47.8,0.01
43,E12000009,South West,2017/18,All,49425,46.7,-0.07
44,E92000001,England,2017/18,All,583617,44.5,.

##### Let's sort by the Highest Attainment and select the first 5 Areas that have schools with the highest Attainment score

In [17]:
schools.sort_values('Attainment8')

,Code,Area,Year,Sex,Pupils,Attainment8,Progress8
0,E09000001,City of London,2017/18,All,.,.,.
360,E09000001,City of London,2015/16,Girls,.,.,.
315,E09000001,City of London,2015/16,Boys,.,.,.
270,E09000001,City of London,2015/16,All,.,.,.
225,E09000001,City of London,2016/17,Girls,.,.,.
180,E09000001,City of London,2016/17,Boys,.,.,.
135,E09000001,City of London,2016/17,All,.,.,.
90,E09000001,City of London,2017/18,Girls,.,.,.
45,E09000001,City of London,2017/18,Boys,.,.,.
201,E09000022,Lambeth,2016/17,Boys,1016,40.9,-0.38
187,E09000008,Croydon,2016/17,Boys,1716,41.3,-0.19
89,E92000001,England,2017/18,Boys,299529,41.5,.
202,E09000023,Lewisham,2016/17,Boys,1165,41.5,-0.49
67,E09000023,Lewisham,2017/18,Boys,1046,41.8,-0.45
66,E09000022,Lambeth,2017/18,Boys,1073,41.9,-0.34
51,E09000007,Camden,2017/18,Boys,649,42,-0.37
55,E09000011,Greenwich,2017/18,Boys,1151,42,-0.34
215,E12000001,North East,2016/17,Boys,12871,42.1,-0.4
52,E09000008,Croydon,2017/18,Boys,1669,42.4,-0.15
84,E12000005,West Midlands,2017/18,Boys,30025,42.4,-0.32
82,E12000003,Yorkshire and the Humber,2017/18,Boys,27121,42.4,-0.25
80,E12000001,North East,2017/18,Boys,12700,42.4,-0.45
219,E12000005,West Midlands,2016/17,Boys,29701,42.7,-0.29
218,E12000004,East Midlands,2016/17,Boys,23155,42.9,-0.31
83,E12000004,East Midlands,2017/18,Boys,23164,42.9,-0.33
75,E09000031,Waltham Forest,2017/18,Boys,1218,42.9,-0.05
81,E12000002,North West,2017/18,Boys,36410,43,-0.4
210,E09000031,Waltham Forest,2016/17,Boys,1254,43,-0.09
216,E12000002,North West,2016/17,Boys,36627,43,-0.35
217,E12000003,Yorkshire and the Humber,2016/17,Boys,27006,43.1,-0.16
...,...,...,...,...,...,...,...
2,E09000003,Barnet,2017/18,All,3810,56,0.57
334,E09000020,Kensington and Chelsea,2015/16,Boys,430,56.1,0.29
272,E09000003,Barnet,2015/16,All,3647,56.1,0.33
251,E09000027,Richmond upon Thames,2016/17,Girls,676,56.2,0.39
163,E09000029,Sutton,2016/17,All,2759,56.2,0.24
335,E09000021,Kingston upon Thames,2015/16,Boys,703,56.5,0.26
385,E09000026,Redbridge,2015/16,Girls,1616,56.5,0.47
289,E09000020,Kensington and Chelsea,2015/16,All,740,56.6,0.34
372,E09000013,Hammersmith and Fulham,2015/16,Girls,701,56.7,0.26
102,E09000013,Hammersmith and Fulham,2017/18,Girls,653,56.7,0.62
386,E09000027,Richmond upon Thames,2015/16,Girls,729,56.8,0.24
257,E09000033,Westminster,2016/17,Girls,808,57,0.76
343,E09000029,Sutton,2015/16,Boys,1370,57.1,0
379,E09000020,Kensington and Chelsea,2015/16,Girls,310,57.1,0.41
227,E09000003,Barnet,2016/17,Girls,1717,57.2,0.7
73,E09000029,Sutton,2017/18,Boys,1392,57.3,0.25
362,E09000003,Barnet,2015/16,Girls,1791,57.5,0.44
245,E09000021,Kingston upon Thames,2016/17,Girls,791,57.6,0.6
392,E09000033,Westminster,2015/16,Girls,803,57.8,0.53
253,E09000029,Sutton,2016/17,Girls,1341,57.8,0.43
122,E09000033,Westminster,2017/18,Girls,752,57.8,0.81
20,E09000021,Kingston upon Thames,2017/18,All,1515,57.8,0.53
28,E09000029,Sutton,2017/18,All,2719,58.1,0.39
290,E09000021,Kingston upon Thames,2015/16,All,1515,58.2,0.34
298,E09000029,Sutton,2015/16,All,2667,58.7,0.17
118,E09000029,Sutton,2017/18,Girls,1327,59,0.53
92,E09000003,Barnet,2017/18,Girls,1832,59.1,0.83
380,E09000021,Kingston upon Thames,2015/16,Girls,812,59.7,0.41
388,E09000029,Sutton,2015/16,Girls,1297,60.3,0.34
110,E09000021,Kingston upon Thames,2017/18,Girls,795,60.5,0.71

#####
Barking and Dagenham
Barnet
Bexley
Brent
Bromley
Camden
Croydon
Ealing
Enfield
Greenwich
Hackney
Hammersmith and Fulham
Haringey
Harrow
Havering
Hillingdon
Hounslow
Islington
Kensington and Chelsea
Kingston upon Thames
Lambeth
Lewisham
Merton
Newham
Redbridge
Richmond upon Thames
Southwark
Sutton
Tower Hamlets
Waltham Forest
Wandsworth
Westminster

#### in these wards we know the average rent
#### now lets get the average school rating
#### and then sort by top rating and mid rent
#### for the resulted wards lets see the asian restaurants

In [ ]:
dfCentralBoroughs = df.groupby("state")["last_name"].count()